<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <title>Page</title>
</head>
<body>
    <h1 style="color:red;">Hello World</h1>
    <table class="hello">
      <div style='color:White'>
        <tr>
            <th>Col 1</th>
            <th>Col 2</th>
        </tr>
        <tr>
            <th>Data1</th>
            <th>Data2</th>
        </tr>
      </div>
    </table>
    
</body>
</html>
